<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Source Docs</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/source-docs.css" />
</head>
<body>
	<h1>Source Docs Server</h1>
</body>
</html>
