<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Docs</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/nprogress.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/dashboard1.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/lib/font-awesome-4.1.0/css/font-awesome.min.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Content("~/")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>

            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav" id="repos-region"></ul>

                <ul class="nav navbar-nav" id="nodes-region"></ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Test <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="./Dashboard1/">Dashboard 1</a></li>
                            <li><a href="./Dashboard2/">Dashboard 2</a></li>
                            <li><a href="./Dashboard3/">Dashboard 3</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar navbar-default" role="navigation">
                <div class="" id="repo-index-region"></div>
            </div>
            <div class="col-md-5">

                <br />

                <div id="breadcrumb-region"></div>

                <div id="main-region"></div>

                <div id="pager-region"></div>

            </div>
            <div class="col-md-4">

                <div class="panel panel-default panel-notifications">
                    <div class="panel-body">
                        <ul id="notifications"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="dialog-region"></div>

    <script type="text/x-handlebars-template" id="repos-template">
        <!-- li class="dropdown" -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{title}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu"></ul>
        <!-- /li -->
    </script>

    <script type="text/x-handlebars-template" id="repos-link">
        <a href="#{{ id }}">{{ id }}</a>
    </script>

    <script type="text/x-handlebars-template" id="nodes-template">
        <!-- li class="dropdown" -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{title}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu"></ul>
        <!-- /li -->
    </script>

    <script type="text/x-handlebars-template" id="node-link">
        <a href="#{{ name }}">{{ name }}</a>
    </script>

    <script type="text/x-handlebars-template" id="repo-index-template">
        <div class="navbar-form sidebar-search">
            <form class="form-inline" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
        <div class="index-tree">
            <ul class="nav"></ul>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="repo-index-link">
        <a href="#{{ path }}">{{ name }}</a>
        <ul class="nav"></ul>
    </script>

    <script type="text/x-handlebars-template" id="repo-doc-template">
        {{{ content }}}
    </script>

    <script type="text/x-handlebars-template" id="repo-doc-breadcrumb-template">
        <ol class="breadcrumb">
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">{{ name }}</li>*@
        </ol>
    </script>

    <script type="text/x-handlebars-template" id="repo-doc-breadcrumb-link">
        <a href="#{{ path }}" class="active">{{ name }}</a>
    </script>

    <script type="text/x-handlebars-template" id="repo-doc-pager-template">
        <ul class="pager">
            {{#sibling:previous}}
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> {{ attributes.name }}</a></li>{{/sibling:previous}}
            {{#sibling:next}}
            <li class="next"><a href="#">{{ attributes.name }} <span aria-hidden="true">&rarr;</span></a></li>{{/sibling:next}}
        </ul>
    </script>

    <script type="text/javascript" src="~/assets/js/libs.js"></script>
    <script type="text/javascript" src="~/assets/js/marionette.handlebars.js"></script>
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/entities/repos.js"></script>
    <script type="text/javascript" src="~/assets/js/apps/repos/repos_app.js"></script>
    <script type="text/javascript" src="~/assets/js/apps/repos/list/list_view.js"></script>
    <script type="text/javascript" src="~/assets/js/apps/repos/list/list_controller.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>

    <script type="text/javascript">

        App.start({ root: "@Url.Content("~/")" });

        // http://blog.pagebakers.nl/2013/11/23/using-nprogress-with-backbone-js/
        // Keep track of the pending promises,
        // this way the indicator is only stopped when all pending promises are done.
        var promises = 0;
        App.reqres.setHandler("progress", function (promise) {
            promises++;
            NProgress.start();

            // Return the promise to keep chaining support.
            return promise
              // Increase the progress indicator when we receive a progress notification.
              .progress(function () {
                  NProgress.inc();
              })
              // Use always here so it doesn't matter if the promise is resolved or rejected.
              .always(function () {
                  promises--;
                  !promises && NProgress.done(); // No more pending promises, we're done.
              });
        });

        // See http://backbonejs.org/#Sync-ajax
        Backbone.ajax = function () {
            // Wrap all ajax requests in our progress handler.
            return App.request("progress", Backbone.$.ajax.apply(Backbone.$, arguments));
        };

        // hubs
        $(function () {
            $.connection.hub.start();
            $.connection.notificationHub.client.notify = function (message) {
                $("#notifications").prepend("<li class='notification-" + message.type + "'>" + $("<div />").text(message.when + " - " + message.text).html() + "</li>");
                $("#notifications li:gt(16)").remove();
            };
        });
    </script>

</body>
</html>
