<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Docs</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="~/Content/source-docs.css"/>
    @*<link rel="stylesheet" type="text/css" href="~/Content/dashboard1.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/lib/font-awesome-4.1.0/css/font-awesome.min.css">*@
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>

            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav" id="repos-region"></ul>

                <ul class="nav navbar-nav" id="nodes-region"></ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Test <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="./Dashboard1/">Dashboard 1</a></li>
                            <li><a href="./Dashboard2/">Dashboard 2</a></li>
                            <li><a href="./Dashboard3/">Dashboard 3</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar" id="repo-index-region"></div>
            </div>
            <div class="col-md-9">

                <br/>

                <nav>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </nav>

                <div class="page-header">
                    <h1>Example documentation heading <small><span class="label label-success">New</span></small></h1>
                </div>
                
                <div id="main-region"></div>

                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Logging something interesting ...</a></li>
                        <li class="next"><a href="#">Configuring everything usefull ... <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    
    <div id="dialog-region"></div>

    <script type="text/x-handlebars-template" id="repos-template">
        <!-- li class="dropdown" -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{title}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu"></ul>
        <!-- /li -->
    </script>

    <script type="text/x-handlebars-template" id="repos-link">
        <a href="#{{ id }}">{{ id }}</a>
    </script>

    <script type="text/x-handlebars-template" id="nodes-template">
        <!-- li class="dropdown" -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{title}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu"></ul>
        <!-- /li -->
    </script>

    <script type="text/x-handlebars-template" id="node-link">
        <a href="#{{ name }}">{{ name }}</a>
    </script>

    <script type="text/x-handlebars-template" id="repo-index-template">
        <div class="panel index-search">
            <br />
            <form class="form-inline" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </form>
            <br />
        </div>
        <div class="index-tree">
            <ul></ul>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="repo-index-link">
        <a href="#{{ path }}">{{ name }}</a>
        <ul></ul>
    </script>

    <script type="text/javascript" src="./assets/js/libs.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
    <script type="text/javascript" src="./assets/js/entities/repos.js"></script>
    <script type="text/javascript" src="./assets/js/apps/repos/repos_app.js"></script>
    <script type="text/javascript" src="./assets/js/apps/repos/list/list_view.js"></script>
    <script type="text/javascript" src="./assets/js/apps/repos/list/list_controller.js"></script>

    <script type="text/javascript">
        App.start();
    </script>

</body>
</html>
