<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>devdoc</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/dashboard1.min.css"/>*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/lib/font-awesome-4.1.0/css/font-awesome.min.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Content("~/")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>

            <div class="collapse navbar-collapse" id="main"></div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="repo-index-region"></div>

            <div class="col-md-9">

                <div id="breadcrumb-region"></div>
                <div id="document-region"></div>
                <div id="pager-region"></div>

                @*<div class="panel panel-default panel-notifications">
                    <div class="panel-body">
                        <ul id="notifications"></ul>
                    </div>
                </div>*@

            </div>
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript" src="//yastatic.net/jquery/hotkeys/1.0.0/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="~/assets/js/bundle.js"></script>

    @*<script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>*@

</body>
</html>
