<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Source Docs</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/source-docs.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard1.min.css" />
</head>
<body>

    <div id="header-region"></div>

    <div id="main-region" class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <div id="dialog-region"></div>
    
    <script type="text/template" id="header-template">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#contacts">[Contact manager]</a>
                <div class="nav-collapse collapse1">
                    <ul class="nav"></ul>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="header-link">
        <a href="#<%- url %>"><%- name %></a>
    </script>

    <script type="text/javascript" src="./Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="./Scripts/backbone.marionette/json2.js"></script>
    <script type="text/javascript" src="./Scripts/backbone.marionette/underscore.js"></script>
    <script type="text/javascript" src="./Scripts/backbone.marionette/backbone.js"></script>
    <script type="text/javascript" src="./Scripts/backbone.picky.js"></script>
    @*<script type="text/javascript" src="./Scripts/backbone.marionette/backbone.syphon.js"></script>*@
    @*<script type="text/javascript" src="./Scripts/backbone.marionette/backbone.localstorage.js"></script>*@
    <script type="text/javascript" src="./Scripts/backbone.marionette/backbone.marionette.js"></script>

    <script type="text/javascript" src="./Scripts/app.js"></script>
    <script type="text/javascript" src="./Scripts/entities/files.js"></script>
    
    <script type="text/javascript" src="./Scripts/apps/files/files_app.js"></script>
    <script type="text/javascript" src="./Scripts/apps/files/list/list_view.js"></script>
    <script type="text/javascript" src="./Scripts/apps/files/list/list_controller.js"></script>

    <script type="text/javascript">
        Dokka.start();
    </script>

    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <ul>
        <li><a href="~/Dashboard1/">Dashboard1</a></li>
        <li><a href="~/Dashboard2/">Dashboard2</a></li>
        <li><a href="~/Dashboard3/">Dashboard3</a></li>
    </ul>

</body>
</html>
